
.square-1{
    width: 15%;
    background-color: blue;
}

.rectangle-1{
    width: 80%;
    background-color:red ;
}

.circle-1{
   border-radius: 100px;
   width: 100px;
   height: 100px;
   background: linear-gradient(black , brown);
}

.rectangle-2{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}

.square-2{
    width: 100%;
    height: 75%;
    background-color: chartreuse;
    
}

.rectangle-3{
    width: 100%;
    height: 15%;
    background-color: darkmagenta;
    

}

.rectangle-4{
    background-color: orangered;
    width: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.main-container-1{
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.main-container-2{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.semi-container-1 {
    display: flex;
    width: 24%;
}

.semi-container-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 48%;
}

.semi-container-3 {
    display: flex;
    width: 24%;
}
